{% extends "Management.view.twig" %}

{% block prava_select %}
<option value="3" {{ u.id_pravo == 3? "selected": ""}}>Recenzent</option>
<option value="4" {{ u.id_pravo == 4? "selected": ""}}>Autor</option>
{% endblock %}
